# ============================
# .NET
# ============================
bin/
obj/

# ============================
# JetBrains Rider
# ============================
.idea/
*.sln.iml

# ============================
# Visual Studio
# ============================
.vs/
*.user
*.suo

# ============================
# Build / Publish
# ============================
Debug/
Release/
publish/

# ============================
# Logs
# ============================
*.log

# ============================
# Windows / macOS
# ============================
Thumbs.db
.DS_Store

# ============================
# Variables y secretos
# ============================
.env
.env.*
!.env.example

# ============================
# PostgreSQL backups
# ============================
database/backups/
*.backup
*.dump